.pageTitle
{
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 50px 140px 20px;
    color: rgb(82, 82, 82);
    letter-spacing: .05rem;
    z-index: 1;
}

.pageTitle span:nth-child(2){
    margin-left: 20px;
    color: gray;
    font-weight: 600;
}